* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 1500px;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

header {
  height: 69px;
  width: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  opacity: .9;
}



.logo {
  height: 50px;
  width: auto;
  justify-content: flex-end;
}

.links {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}


.links a{
  display: inline-flex;
  justify-content: flex-end;
  color:seashell;
  text-decoration: underline;
  
}



.stacker { /* put items you will be using inside the same container */
  position: relative; /* This makes the container available to be referred to */
  text-align: center;
  border: 3px solid springgreen;
}

.stuff {
  width: 1200px;
  height: 700px;
  margin-bottom: 69px;
}

.desc {
  width: 100%;
  opacity: .9;
  background-color: black;
  color: seashell;
  position: absolute; /* This puts your element in the same position as the above element*/
  top: 50%;
  left: 50%;/* These 2 put your controlled element in the middle of the referenced element*/
  transform: translate(-50%, -50%); /* Your element's dimensions will offset the placement a bit. 
  Nullify that using transform */
}
/* TEA OF THE MONTH */

.totm {
  text-align: center;
}

.totmimgs {
  max-width: 1000px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imgs {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
}

.totmimgs h4 {
  padding-bottom: 10px;
}

.stacker2 {
  display:flex;
  border: 2px solid springgreen;
  max-height: 600px;
  height: 600px;
  justify-content: center;
  background-image: url("images/black-teacup.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

img {
  z-index: 0;
  height: 596px; /*~900 x 600~ dimesions*/ 
  position: relative;
}
.stacker2 h2 {
  position: absolute;
  position: relative;
}

.stacker2 div {


}
